<div style=" background-color: #e5d2c4" class="flex justify-center">

  <div class="flex flex-col w-full h-full items-center my-6">
    <div class="p-4">
      <h1 class="font-medium text-4xl" style="color: #69503c">Bebidas com café</h1>
    </div>
    <div class="flex flex-row gap-6 justify-center flex-wrap item-center w-full ">

      <mat-card class="min-h-15 min-w-64" style=" border-radius: 10px" *ngFor="let item of cards">
        <img style="max-height: 10rem" mat-card-image [matTooltip]="item.matTooltip"
             [src]="item.pathImage"
             [alt]="item.alt">
        <div class="flex justify-center item-center pt-2">
          <h2 class="font-medium" style="color: #69503c">{{item.title}}</h2>
        </div>
        <div class="flex justify-center pt-1 pb-1">
          <button mat-flat-button class="flex justify-center" (click)="item.openModal(item)">Ver mais</button>
        </div>
      </mat-card>

    </div>
  </div>
</div>

<div style="background-color: #69503c; width: 100%; min-height: 33rem; display: flex">
  <div class="p-5 ">
    <div class="flex justify-center text-4xl pt-3">
      <h1 style="color: white">Bebidas com café</h1>
    </div>
    <div class="flex justify-center">
      <div class="flex justify-center w-1/3 pt-3">
        <p style="color: white" class="indent-5">
          Por apresentar sabor agradável e por ser estimulante, o café era o produto da moda digno de receber grandes
          investimentos. O crescente interesse pela bebida permitiu sua “globalização” e facilitou a intervenção
          cultural tanto nas formas de consumo quanto nas técnicas de plantio.

          A tradição de “tomar um cafezinho” no mundo
          O hábito de tomar café como bebida prazerosa em caráter doméstico ou em recintos coletivos se popularizou a
          partir de 1450. Ele era muito comum entre os filósofos que, ao tomá-lo, permaneciam acordados para a prática
          de exercícios espirituais. Poucos anos depois, a Turquia foi responsável em difundir o “hábito do café”,
          transformando-o em ritual de sociabilidade. O país foi palco do primeiro café do mundo – o Kiva Han – por
          volta de 1475. Desde então, tomar café passou a ser “um rito” que se propagou mundo afora. Em 1574, os cafés
          do Cairo e de Meca eram locais procurados, sobretudo, por artistas e poetas.
        </p>
      </div>
    </div>
  </div>
</div>
