<div style=" background-color: #e5d2c4" class="flex justify-center">

  <div class="flex flex-col w-full h-full items-center my-6">
    <div class="p-4">
      <h1 class="font-medium text-4xl" style="color: #69503c">Grãos de Café</h1>
    </div>
    <div class="flex flex-row gap-6 justify-center flex-wrap item-center w-full ">

      <mat-card class="min-h-15 min-w-64" style=" border-radius: 10px" *ngFor="let item of cards">
        <img style="max-height: 10rem" mat-card-image [matTooltip]="item.matTooltip"
             [src]="item.pathImage"
             [alt]="item.alt">
        <div class="flex justify-center item-center pt-2">
          <h2 class="font-medium" style="color: #69503c">{{item.title}}</h2>
        </div>
        <div class="flex justify-center pt-1 pb-1">
          <button mat-flat-button class="flex justify-center" (click)="item.openModal(item)">Ver mais</button>
        </div>
      </mat-card>

    </div>
  </div>
</div>

<div style="background-color: #69503c; width: 100%; min-height: 33rem; display: flex">
  <div class="p-5 ">
    <div class="flex justify-center text-4xl pt-3">
      <h1 style="color: white">Sobre Café</h1>
    </div>
    <div class="flex justify-center">
      <div class="flex justify-center w-1/3 pt-3">
        <p style="color: white" class="indent-5">
          A história do grão no Brasil começa no século XVIII, no Norte do país, precisamente em 1727. A primeira muda
          de café foi trazida clandestinamente pelo sargento-mor Francisco de Melo Palheta, quando fez uma viagem à
          Guiana Francesa com interesses comerciais.

          As primeiras plantações começaram no Nordeste, porém, como o clima não era favorável ao plantio, o cultivo do
          café foi levado para o Maranhão, Rio de Janeiro e, posteriormente, São Paulo e Minas Gerais.

          O plantio no Vale da Paraíba (RJ), foi um sucesso tão grande que, em 1860, o Brasil produzia 60% do café
          mundial, o que tornou possível a popularização do nosso amado pretão ao redor do globo, já que ficou bem mais
          barato.

          No entanto, as terras cariocas logo começaram a se esgotar, e foi assim que São Paulo e a Zona da Mata, em
          Minas, tornaram-se grandes produtoras do grão. Essa aliança iniciou, inclusive, a famosa política do
          café-com-leite.
        </p>
      </div>
    </div>
  </div>
</div>
