<mat-toolbar>
  <span>Café</span>
    <div class="space"></div>
  <div class="opitions-navigation">
    <a mat-button (click)="navigationAboutCoffee()">Sobre café</a>
    <a mat-button (click)="navigationTypicalDishes()">Pratos tipicos</a>
    <a mat-button (click)="navigationCoffeeDrinks()">Bebidas</a>
    <button mat-flat-button style="background-color: #69503c; color: #69503c">
      <div class="flex justify-center">
      <mat-icon>account_circle</mat-icon>
    </div>
    </button> <!-- Vai ser a ideia de por a foto -->
  </div>
</mat-toolbar>


